name: "Hello world workflow"

on:
  push:
    branches:
      - main
      - production

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Print hello world
        run: echo "hello world~"
